:root {
    --iconSize: 50px;
    --color_grey: 
}

body {
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

img, input {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /*user-drag: none;*/
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    width: fit-content;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    /* z-index: 999; */
}

#ICON {
    width: var(--iconSize);
    position: relative;
    margin: auto;
}

.iconHolder:hover {
    background-color: rgba(148, 198, 255, 0.274);
    /*opacity: 70%;*/
}

.icon {
    width: var(--iconSize);
    position: relative;
    display: flexbox;
}

a.iconHolder {
    background-color: none;
    height: 70px;
    width: 70px;
    display: grid;
    align-content: center;
    margin-bottom: 30px;
    color: white;
    padding: 5px;
}

p {
    overflow: hidden;
    margin: 0;
    text-align: center;
}


#mainContainer > button {
    height: var(--iconSize);
    width: var(--iconSize);
}

#bottomBar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0 0px;
}

.appIcon {
    margin-top: 6px;
    float: left;
    justify-self: left;
}

#windowsIcon {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 25%;
    width: 30px;
    height: 30px;
}

#bottomAppIcon {
    float: left;
    justify-self: start;
    width: 35px;
    height: 35px;
}

#windowsIcon:hover {
    background-color: #2b2b2b;
    cursor: default;
}

#bar {
    color: white;
    background-color: rgb(37, 37, 37);
    user-select: none;
    grid-column: 2 / 3;
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin-left: 10px;
    margin-top: 9px;
    margin-bottom: 5px;
    padding-left: 10px;
    /*border-radius: 2px;*/
    flex-grow: 1;
    border: 1px solid gray;
}

#bar:focus {
    outline-width: 0;
}

#timeContainer {
    grid-column: 3 / 4;
    justify-self: end;
    text-align: right;
    color: white;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

#time {
    display: block;
    font-size: 16px;
    color: white;
}

#date {
    display: block;
    font-size: 14px;
    color: white;
}

#fullWindow {
    box-shadow: 1px 1px 10px #000000;
    background-color: rgba(255, 255, 255, 1);
    width: 70%;
    height: fit-content;
    max-width: 90%;
    max-height: fit-content;
    /* border: 1px solid black; */
    position: relative;
    margin: auto;
}

#WINDOW_HOLDER {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 45px);
}

#window {
    background-color: black;
    overflow: hidden;
    /* height: inherit; */
    width: 100%;
    /* OLD
    margin: auto;
    height: 70%;
    width: 70%;
    background-color: white;
    z-index: 200;
    border: 1px solid black; 
    min-width: 300px;
    max-width: 70%;
    min-height: 300px;
    max-height: 70%;
    margin: auto;
    */
}

#windowName {
    float: left;
    margin-right: auto;
    margin-left: 10px;
    color: white;
}

#topbar> button {
    display: block;
    color: black;
    width: 40px;
    height: 100%;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
    margin-left: 10%;
    float: right;
    transition: red 0.2s ease;
    border: none;
    background-color: transparent;
}

#topbarIcon {
    width: 20px;
    margin-left: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
}

#closeWindowButton:hover {
    background-color: red;
}

#closeWindowButton:active {
    background-color: #c50f1f;
}


#window > iframe {
    overflow: auto;
    width: 100%;
    height: 80vh;
    border: none;
    display: inline-block;
}

#topbar {
    /* OLD
    height: 35px;
    width: 100%;
    top: 0;
    right: 0;
    position: inherit;
    background-color: grey;
    */

    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    border-bottom: 1px solid #a7a7a7;
    height: 25px;
    align-items: center; 
    padding: 0;
}

#windowName {
    color:#000000
}

#startHolder {
    height: 100vh;
    top: 0;
    position: fixed;
    background-color: transparent;
}

#start {
    width: 600px;
    height: 450px;
    background-color: rgba(24, 24, 24, 0.95);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    margin-bottom: 45px;
    bottom: 0;
}

#start_1st {
    z-index: inherit;
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
}

#start_1st > img {
    background-color: white;
    border-radius: 50px;
    width: 40px;
    margin-bottom: 10px;
}

#start_2nd {
    z-index: inherit;
    height: 100%;
    width: 270px;
}

#start_2nd > li {
    list-style-type: none;
    padding-top: 10px;
}

#start_2nd > li > ul {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#startApps:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#startApps > div {
    width: inherit;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    font-weight: 100;
}

#startApps > div > img {
    width: 30px;
    margin-right: 10px;
}

#start_3rd {
    z-index: inherit;
    height: 100%;
    width: 280px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#start_3rd > #gridItem {
    background-color: rgba(78, 78, 78, 0.2);
    height: 65px;
    width: 65px;
    padding: 10px;
    margin: 2px;
}

#start_3rd > #gridItem:hover {
    background-color: rgba(78, 78, 78, 0.5);
}

#start_3rd > #gridItem > img {
    width: 100%;
}